{% extends 'cloudview/base.html' %}

{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% load static %}

{% block title %}
	Customized Reporting
{% endblock %}

{% block extra_link %}
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/js/bootstrap-modal.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/css/bootstrap-modal.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'user_authentication/css/registration.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'report/css/dashboard.css' %}">
{% endblock %}

{% block navbar %}
{% endblock %}

{% block sidebar %}	
	<div class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-sidebar" id="sidebar-list">
			<li><a href="{% url 'dashboard' %}"> Dashboard</a></li>
			<li class="active"><a href="{% url 'report' %}"> Reports</a></li>
			<li><a href="{% url 'add_catalog' %}"> Manage Catalogs</a></li>
			<li><a href="{% url 'person_list' %}"> Manage Faces</a></li>
			<li><a href="{% url 'manage_camera' %}"> Manage Cameras</a></li>
			<li><a href="{% url 'manage_video' %}"> Manage Videos</a></li>
			<li><a href="{% url 'analysis_index' %}"> Analysis</a></li>
		</ul>
	</div>
{% endblock %}

{% block content %}
	<div class="row top-margin">
		<div class="row">
			<form action="/report" method="get">
				<input type="text" name="timezone" class="form-control" id="timezoneoffset" />
				<div class="col-md-3 col-md-offset-1">
					<p><b>Start Date Time</b></p>
					<div class="form-group">
						<div class="input-group date">
							<input type="text" name="start_date" class="form-control" id="datetimepicker-start" />
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<p><b>End Date Time</b></p>
					<div class="form-group">
						<div class="input-group date">
							<input type="text" name="end_date" class="form-control" id="datetimepicker-end" />
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<p><b>Catalog</b></p>
					<div class="form-group">
						<div class="input-group date">
							<select class="form-control" name="catalog" id="catalog">
								<option value="ALL">ALL</option>
								{% for catalog in catalogs %}
									<option value='{{ catalog.catalog_name }}'>{{ catalog.catalog_name }}</option>
								{% endfor %}
								<option value="UNKNOWN">UNKNOWN</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-1">
					<div class="form-group">
						<br>
						<button type="submit" class="btn btn-info btn-block search-btn">{% bootstrap_icon "ok" %}</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<hr>
	<div class="row" id="personTableRow">
		<div class="col-md-10 col-md-offset-1 table-responsive">
			<table class="display" id="personTable">
				<thead>
					<tr>
						<th>IMAGE</th>
						<th>FULL NAME</th>
						<th>CATALOG</th>
						<th>No. OF TIMES SEEN</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for person_uuid, person_thumbnail, person_name, person_catalog, person_seen_count in dataframe %}
						<tr>
							<td>
								<img src="../media/{{ person_thumbnail }}" height="50px" width="50px">
							</td>
							<td>
								{{ person_name }}
							</td>
							<td>
								{{ person_catalog }}
							</td>
							<td>
								{{ person_seen_count }}
							</td>
							<td class="actions">
								<button type="button" class="btn btn-default" onclick="display_detail('{{ person_uuid }}')">
									<span class="glyphicon glyphicon-eye-open"></span>
								</button>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% for person_uuid, face_detail in datadetail %}
	<div class="row data-detail" id="{{ person_uuid }}">
		<div class="col-md-10 col-md-offset-1 table-responsive">
			<table class="display">
				<thead>
					<tr>
						<th>Cropped Face</th>
						<th>Seen At</th>
						<th>Source Name</th>
					</tr>
				</thead>
				<tbody>
					{% for face_cropped, face_timestamp, face_source in face_detail %}
						<tr>
							<td><img src="../media/{{ face_cropped }}" height="50px" width="50px"></td>
							<td>{{ face_timestamp }}</td>
							<td>{{ face_source }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% endfor %}
	<script type="text/javascript">
			$('#datetimepicker-start').datetimepicker({
				format: 'MMM DD, YYYY HH:mm',
			});
			$('#datetimepicker-end').datetimepicker({
				format: 'MMM DD, YYYY HH:mm'
			});
			var date_obj = new Date();
			var timezone_offset = date_obj.getTimezoneOffset();
			$('#timezoneoffset').val(timezone_offset);
			$('#catalog').val('{{ catalog }}');
			$('#datetimepicker-start').val('{{ start_date }}');
			$('#datetimepicker-end').val('{{ end_date }}');
	</script>
	<script type="text/javascript">
	    $('table.display').DataTable();
	</script>
	<script type="text/javascript">
		function display_detail(x) {
			var tableId = '#' + x;
			document.getElementById('personTableRow').style.display = "none";
			console.log(document.getElementById(x));
			document.getElementById(x).style.display = "block";
		}
	</script>
{% endblock %}