{% extends 'cloudview/base.html' %}

{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% load static %}

{% block title %}
	Catalog Management
{% endblock %}

{% block extra_link %}
	<link rel="stylesheet" type="text/css" href="{% static 'catalog/css/catalog.css' %}">
{% endblock %}

{% block sidebar %}	
	<div class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-sidebar" id="sidebar-list">
			<li><a href="{% url 'dashboard' %}"> Dashboard</a></li>
			<li><a href="{% url 'report' %}"> Reports</a></li>
			<li class="active"><a href="{% url 'add_catalog' %}"> Manage Catalogs</a></li>
			<li><a href="{% url 'person_list' %}"> Manage Faces</a></li>
			<li><a href="{% url 'manage_camera' %}"> Manage Cameras</a></li>
			<li><a href="{% url 'manage_video' %}"> Manage Videos</a></li>
			<li><a href="{% url 'analysis_index' %}"> Analysis</a></li>
		</ul>
	</div>
{% endblock %}

{% block content %}
	<div class="row">
		<div id="catalog-form">
			<form action="" method="post" class="form">
				{% csrf_token %}
				<div class="row">
					<div class="col-md-7 col-md-offset-1">
						{% bootstrap_form form show_label=False %}
					</div>
					<div class="col-md-3">
						{% buttons %}
							<button type="submit" class="btn btn-primary btn-block">
								Create New Catalog
							</button>
						{% endbuttons %}	
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1 table-responsive">
			<table class="table table-striped" id="catalogTable">
				<thead>
					<tr>
						<th>CATALOG NAME</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for catalog in catalogs %}
						<tr>
							<td>{{ catalog.catalog_name }}</td>
							<td class="actions">
								<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
								<a href="{% url 'delete_catalog' catalog.uuid %}"><span class="glyphicon glyphicon-trash"></span></a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}