.sidebar {
	display: none;
}
@media (min-width: 768px) {
	.sidebar {
		margin-top: 50px;
		background-color: #fff;
		position: fixed;
		border-right: 1px solid #eee;
		display: block;
		height: 100%;
	}
}

/* Sidebar navigation */
.nav-sidebar {
	margin-top: 50px;
	margin-right: -16px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}
.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
	font-weight: bold;
	color: #5d5b5b;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #428bca;
	border-radius: 10px;
}
