#advanced-setting {
	font-weight: bold;
	color: grey;
	padding-top: 15px;
	text-align: center;
}

#default-setting {
	display: none;
}

.heading {
	margin-top: 25vh;
	font-size: 20px;
	font-weight: bold;
}

.video-file {
	border-style: groove;
	border-width: 3px;
	background-color: #f6fdfd;
	border-radius: 5px;
	margin-top: 10vh;
	text-align: center;
}

.live-stream {
	border-style: groove;
	border-width: 3px;
	background-color: #f6fdfd;
	border-radius: 5px;
	margin-top: 10vh;
	min-height: 20vh;
	max-height: 30vh;
	text-align: center;
}

.source-type {
	font-size: 20px;
	font-weight: bold;
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.video-file:hover {
	background-color: #aaaaaa;
}

.live-stream:hover {
	background-color: #aaaaaa;
}

.glyphicon {
	font-size: 75px;
	padding: 10px;
	color: black;
}
