#imageUploadDropzone {
	background: #f6fdfd;
	border-radius: 5px;
	border: 2px dashed rgb(0, 135, 247);
	border-image: none;
	min-width: 100%;
	max-width: 100%;
	min-height: 50vh;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	text-align: center;
}

.fileUpload {
	margin-top: 100px;
}

.dz-message {
	font-size: 20px;
	font-weight: bold;
}
