.glyphicon-pencil {
	color: #39942a;
}

.glyphicon-trash {
	color: #b92424;
}

.actions {
	text-align: left;
}

.actions > a > span {
	padding-right: 30px;
}

.create-person-btn {
	margin-top: 20vh;
}

.status {
	text-transform: uppercase;
	text-decoration: none;
}

.status a:hover {
	text-decoration: none;
}
