#login-form {
	margin-top: 25vh;
	padding-right: 40px;
	padding-left: 40px;
	border-radius: 10px;
	margin-bottom: 10vh;
	padding-bottom: 20px;
	padding-top: 20px;
	border-color: #c3baba;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
}

#registration-link {
	margin-top: 20px;
}

.link {
	font-weight: bold;
	font-size: 18px;
	text-decoration: underline;
	color: green;
}

.text-bold {
	font-weight: bold;
	padding-bottom: 10px;
	font-size: 20px;
}

.section-heading {
	border-style: solid;
	border-width: 0 0 3px 0;
	border-color: #5a7da0d9;
	border-radius: 40px;
}

.login-header {
	margin-bottom: 10px;
}
