#registration-form {
	margin-top: 15vh;
	padding-right: 40px;
	padding-left: 40px;
	border-radius: 10px;
	margin-bottom: 5px;
	padding-bottom: 20px;
	border-color: #c3baba;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
}

.tab {
}

.text-bold {
	font-weight: bold;
	padding: 20px;
	padding-bottom: 5px;
	font-size: 20px;
}

.label-bold {
	font-weight: bold;
}

.section-heading {
	border-style: solid;
	border-width: 0 0 3px 0;
	border-color: #5a7da0d9;
	border-radius: 40px;
}

.registration-header {
	margin-bottom: 20px;
}

.invalid {
	border-color: red;
}

#login-link {
	margin-top: 20px;
}

.link {
	font-weight: bold;
}
