{% extends 'cloudview/base.html' %}

{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% load static %}

{% block title %}
	CloudView Dashboard
{% endblock %}

{% block extra_link %}
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'user_authentication/css/registration.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'report/css/dashboard.css' %}">
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
	<div class="row top-margin">
		<div class="col-md-3 sub-chart">
			<div class="chart">
				<div class="info-data" id="cam-count">{{ cam_count }}</div>
				<div class="info-text">Livestream Added</div>
			</div>
		</div>
		<div class="col-md-3 sub-chart">
			<div class="chart">
				<div class="info-data" id="video-count">{{ video_count }}</div>
				<div class="info-text">Video Analyzed</div>
			</div>
		</div>
		<div class="col-md-3 sub-chart">
			<div class="chart">
				<div class="info-data" id="person-count">{{ person_count }}</div>
				<div class="info-text">Person Added</div>
			</div>
		</div>
		<div class="col-md-3 sub-chart">
			<div class="chart">
				<div class="info-data" id="face-count">{{ face_count }}</div>
				<div class="info-text">Images Trained</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-1 main-chart">
			<div class="chart">
				<div class="chart-title">Live Stream Status</div>
				<div id="cam-status-chart" class=""></div>
			</div>
		</div>
		<div class="col-md-4 col-md-offset-2 main-chart">
			<div class="chart">
				<div class="chart-title">Video File Status</div>
				<div id="video-status-chart" class=""></div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		// Getting all required data
		var cam_active = parseInt("{{ cam_active_count }}");
		var cam_inactive = parseInt("{{ cam_inactive_count }}");
		var video_pending = parseInt("{{ video_pending_count }}");
		var video_processing = parseInt("{{ video_processing_count }}");
		var video_complete = parseInt("{{ video_complete_count }}");
		// Function to load the chart using required data on load 
		window.onload = function () {
			CanvasJS.addColorSet("light_color", ["#dbd960", "#c4e572", "#8ce296", "#64bbbc", "#8587ea", "#efa7b0"]);
			CanvasJS.addColorSet("dark_color", ["#75e064", "#a09843", "#d65753", "#3f8482", "#e56ebb", "#4d51a0"]);
			// Create chart for camera status
			var cam_status_chart = new CanvasJS.Chart("cam-status-chart", {
				colorSet: "dark_color",
				animationEnabled: true,
				data: [{
					type: "doughnut",
					startAngle: 60,
					innerRadius: 30,
					indexLabel: "{label}",
					toolTipContent: "<b>{label}:</b> {y}",
					dataPoints: [
						{ y: cam_active, label: "Active" },
						{ y: cam_inactive, label: "Inactive" }
					]
				}]
			});
			// Create chart for video processing status
			var video_status_chart = new CanvasJS.Chart("video-status-chart", {
				colorSet: "dark_color",
				animationEnabled: true,
				data: [{
					type: "doughnut",
					startAngle: 60,
					innerRadius: 30,
					indexLabel: "{label}",
					toolTipContent: "<b>{label}:</b> {y}",
					dataPoints: [
						{ y: video_pending, label: "Pending" },
						{ y: video_processing, label: "Processing" },
						{ y: video_complete, label: "Finished" }
					]
				}]
			});
		// Render all the charts
		cam_status_chart.render();
		video_status_chart.render();
		}
		</script>
{% endblock %}