{% extends 'cloudview/base.html' %}

{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% load static %}

{% block title %}
	Login to CloudView Portal
{% endblock %}

{% block extra_link %}
<link rel="stylesheet" type="text/css" href="{% static 'user_authentication/css/login.css' %}">
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content_with_side %}
	{% if not user.is_authenticated %}
		<div class="col-md-4 col-md-offset-4">
			<div id="login-form">
				<form action="" method="post" class="form">
					{% csrf_token %}
					<div class="row login-header">
						<p align="center" class="text-bold section-heading">
							Access CloudView Portal
						</p>	
					</div>
					<div class="row">
						{% bootstrap_form form %}
					</div>
					<div class="row">
						{% buttons %}
							<button type="submit" class="btn btn-primary btn-block">
								Sign In
							</button>
						{% endbuttons %}
					</div>
				</form>
				<div class="row" id="registration-link">
					<p align="center">New to CloudView. <a href="{% url 'user_registration' %}" class="link"> Create account</a></p>
					<p align="center"><a href="#">Forgot password?</a></p>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}