{% extends 'cloudview/base.html' %}

{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% load static %}

{% block title %}
	CloudView User Registration
{% endblock %}

{% block extra_link %}
	<link rel="stylesheet" type="text/css" href="{% static 'user_authentication/css/registration.css' %}">
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content_with_side %}
	<div class="col-md-4 col-md-offset-4">
		<div id="registration-form">
			<form action="" method="post" class="form">
				{% csrf_token %}
				<div class="row tab" id="account-detail">
					<div class="row registration-header">
						<p align="center" class="text-bold section-heading">
							Create Account
						</p>	
					</div>
					<div class="row">
						<div class="col-md-12">
							<p class="label-bold">Full Name</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							{% bootstrap_field form.first_name show_label=False %}
						</div>
						<div class="col-md-4">
							{% bootstrap_field form.middle_name show_label=False %}
						</div>
						<div class="col-md-4">
							{% bootstrap_field form.last_name show_label=False %}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							{% bootstrap_field form.email show_label=True %}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							{% bootstrap_field form.password1 show_label=True %}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							{% bootstrap_field form.password2 show_label=True %}
						</div>
					</div>
					<div class="row">
						{% buttons %}
							<div class="col-md-12">
								<button type="submit" class="btn btn-primary btn-block">
									<div class="button">Register</div>
								</button>
							</div>
						{% endbuttons %}
					</div>
				</div>
			</form>
			<div class="row" id="login-link">
				<p align="center"><a href="{% url 'login' %}"> Already a customer?</a></p>
			</div>
		</div>
	</div>
{% endblock %}