.top-margin {
	margin-top: 100px;
}

#cam-count {
	color: #47519e;
}

#video-count {
	color: #dba320;
}

#person-count {
	color: #418c4d;
}

#face-count {
	color: #775952;
}

.info-data {
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	border-width: 0px 0px 2px 0px;
	border-style: solid;
	border-color: #777b84;
}

.info-text {
	text-align: center;
	font-size: 15px;
	padding-top: 10px;
	font-weight: bold;
}

.chart {
	border-color: #d2d4d8;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 50px;
}

.chart-title {
	font-size: 20px;
	color: #4c6362;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	border-color: #d2d4d8;
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-radius: 10px;
	margin-bottom: 5px;
}

#cam-status-chart {
	height: 200px;
}

#video-status-chart {
	height: 200px;
}

#analysis-hour-chart {
	height: 400px;
}

.search-btn {
	margin-top: 10px;
}

hr {
	border: solid 2px #f1f1f1;
	border-radius: 20px;
}

#timezoneoffset {
	display: none;
}

.data-detail {
	display: none;
}
