{% extends 'cloudview/base.html' %}

{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% load static %}

{% block title %}
	Add Person Data
{% endblock %}

{% block extra_link %}
	<link rel="stylesheet" type="text/css" href="{% static 'user_authentication/css/registration.css' %}">
{% endblock %}


{% block sidebar %}	
	<div class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-sidebar" id="sidebar-list">
			<li><a href="{% url 'dashboard' %}"> Dashboard</a></li>
			<li><a href="{% url 'report' %}"> Reports</a></li>
			<li><a href="{% url 'add_catalog' %}"> Manage Catalogs</a></li>
			<li class="active"><a href="{% url 'person_list' %}"> Manage Faces</a></li>
			<li><a href="{% url 'manage_camera' %}"> Manage Cameras</a></li>
			<li><a href="{% url 'manage_video' %}"> Manage Videos</a></li>
			<li><a href="{% url 'analysis_index' %}"> Analysis</a></li>
		</ul>
	</div>
{% endblock %}


{% block content %}
	<div class="col-md-8 col-md-offset-2">
		<div id="registration-form">
			<form action="" method="post" class="form">
				{% csrf_token %}
				<div class="row tab" id="account-detail">
					<div class="row registration-header">
						<p align="center" class="text-bold section-heading">
							Add New Person Data
						</p>	
					</div>
					<div class="row">
						<div class="col-md-12">
							{% bootstrap_field form.phone_number show_label=True %}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<p class="label-bold">Address</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							{% bootstrap_field form.street show_label=False %}
						</div>
						<div class="col-md-4">
							{% bootstrap_field form.city show_label=False %}
						</div>
						<div class="col-md-4">
							{% bootstrap_field form.state show_label=False %}
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							{% bootstrap_field form.country show_label=False %}
						</div>
						<div class="col-md-4">
							{% bootstrap_field form.postal_code show_label=False %}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							{% bootstrap_field form.description show_label=True %}
						</div>
					</div>
					<div class="row">
						{% buttons %}
							<div class="col-md-4 col-md-offset-4">
								<button type="submit" class="btn btn-primary btn-block">
									<div class="button">Next : Add Images</div>
								</button>
							</div>
						{% endbuttons %}
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}