{% extends 'cloudview/base.html' %}

{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% load static %}

{% block title %}
	Add Person Data
{% endblock %}

{% block extra_link %}
	<link rel="stylesheet" type="text/css" href="{% static 'user_authentication/css/registration.css' %}">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.css">
	<link rel="stylesheet" type="text/css" href="{% static 'recognition/css/dropzone.css' %}">
	<script type="text/javascript" src="{% static 'recognition/js/dropzone.js' %}"></script>
{% endblock %}


{% block sidebar %}	
	<div class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-sidebar" id="sidebar-list">
			<li><a href="{% url 'dashboard' %}"> Dashboard</a></li>
			<li><a href="{% url 'report' %}"> Reports</a></li>
			<li><a href="{% url 'add_catalog' %}"> Manage Catalogs</a></li>
			<li class="active"><a href="{% url 'person_list' %}"> Manage Faces</a></li>
			<li><a href="{% url 'manage_camera' %}"> Manage Cameras</a></li>
			<li><a href="{% url 'manage_video' %}"> Manage Videos</a></li>
			<li><a href="{% url 'analysis_index' %}"> Analysis</a></li>
		</ul>
	</div>
{% endblock %}


{% block content %}
	<div class="col-md-8 col-md-offset-2">
		<div class="fileUpload">
			<form id="imageUploadDropzone" action="{% url 'add_person_images' person_uuid %}" method="post" class="dropzone needsclick" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="dz-message needsclick">
					Drop Images Here or Click to Upload
					<br>
					<span class="note needsclick">
						(MAX Image Size - 5 MB)
					</span>
				</div>
			</form>
		</div>
		<div class="row">
			<a href="{% url 'train_face' person_uuid %}">
				<button class="btn btn-primary btn-block">
					Start Training
				</button>
			</a>
		</div>
	</div>
	<script type="text/javascript">
		Dropzone.options.imageUploadDropzone = {
			paramName: "image_name",
			maxFilesize: 5,
			acceptedFiles: "image/*",
			thumbnailHeight: 120,
			thumbnailWidth: 120,
		}
	</script>
{% endblock %}