{% extends 'cloudview/base.html' %}

{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% load static %}

{% block title %}
	Analyze Data
{% endblock %}

{% block extra_link %}
	<link rel="stylesheet" type="text/css" href="{% static 'user_authentication/css/registration.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'recognition/css/analysis.css' %}">
{% endblock %}

{% block sidebar %}	
	<div class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-sidebar" id="sidebar-list">
			<li><a href="{% url 'dashboard' %}"> Dashboard</a></li>
			<li><a href="{% url 'report' %}"> Reports</a></li>
			<li><a href="{% url 'add_catalog' %}"> Manage Catalogs</a></li>
			<li><a href="{% url 'person_list' %}"> Manage Faces</a></li>
			<li><a href="{% url 'manage_camera' %}"> Manage Cameras</a></li>
			<li><a href="{% url 'manage_video' %}"> Manage Videos</a></li>
			<li class="active"><a href="{% url 'analysis_index' %}"> Analysis</a></li>
		</ul>
	</div>
{% endblock %}

{% block content %}
	<div class="col-md-8 col-md-offset-2">
		<div id="registration-form">
			<form action="" method="post" class="form" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="row tab" id="source-type">
					<div class="row registration-header">
						<p align="center" class="text-bold section-heading">
							Facial Recognition
						</p>	
					</div>
				</div>
				<div class="row tab" id="source-name">
					<div class="row">
						<div class="col-md-12">
							{% bootstrap_field form.source_name %}
						</div>
					</div>
				</div>
				{% if source_type %}
					<div class="row tab" id="source-cam">
						<div class="row">
							<div class="col-md-12">
								{% bootstrap_field form.camera_url %}
							</div>
						</div>
					</div>
				{% else %}
					<div class="row tab" id="source-video">
						<div class="row">
							<div class="col-md-12">
								{% bootstrap_field form.video_file %}
							</div>
							<div class="col-md-12">
								{% bootstrap_field form.initial_timestamp %}
							</div>
						</div>
					</div>
				{% endif %}
				<div class="row tab" id="default-setting">
					<div class="row">
						<div class="col-md-12">
							{% bootstrap_field form.threshold %}
						</div>
						<div class="col-md-12">
							{% bootstrap_field form.fps %}
						</div>
					</div>
				</div>
				<div class="row" id="submit">
					<div class="row">
						{% buttons %}
							<div class="col-md-6 col-md-offset-3">
								<button type="submit" class="btn btn-primary btn-block">
									<div class="button">Start Facial Recognition</div>
								</button>
							</div>
						{% endbuttons %}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 btn" id="advanced-setting" onclick="advanced_setting()">
						Show Advanced Settings
					</div>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		function advanced_setting(){
			var x = document.getElementById('default-setting');
			if (x.style.display == 'none'){
				x.style.display = 'block';
				document.getElementById('advanced-setting').textContent = 'Hide Advanced Settings';
			} else {
				x.style.display = 'none';
				document.getElementById('advanced-setting').textContent = 'Show Advanced Settings';
			}
		}
	</script>
{% endblock %}