{% extends 'cloudview/base.html' %}

{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% load static %}

{% block title %}
	Analyze Data - Select Source
{% endblock %}

{% block extra_link %}
	<link rel="stylesheet" type="text/css" href="{% static 'recognition/css/analysis.css' %}">
{% endblock %}

{% block sidebar %}	
	<div class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-sidebar" id="sidebar-list">
			<li><a href="{% url 'dashboard' %}"> Dashboard</a></li>
			<li><a href="{% url 'report' %}"> Reports</a></li>
			<li><a href="{% url 'add_catalog' %}"> Manage Catalogs</a></li>
			<li><a href="{% url 'person_list' %}"> Manage Faces</a></li>
			<li><a href="{% url 'manage_camera' %}"> Manage Cameras</a></li>
			<li><a href="{% url 'manage_video' %}"> Manage Videos</a></li>
			<li class="active"><a href="{% url 'analysis_index' %}"> Analysis</a></li>
		</ul>
	</div>
{% endblock %}

{% block content %}
	<div class="col-md-10 col-md-offset-1">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="heading">
					Select Source of Data to Analyze
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-1">
				<a href="{% url 'analysis_form' 'video_file' %}">
					<div class="video-file">
						<div class="row">{% bootstrap_icon "film" %}</div>
						<div class="row">
							<p class="source-type">Video</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<a href="{% url 'analysis_form' 'live' %}">
					<div class="live-stream">
						<div class="row">{% bootstrap_icon "facetime-video" %}</div>
						<div class="row">
							<p class="source-type">Live Stream</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
{% endblock %}