{% extends 'cloudview/base.html' %}

{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% load static %}

{% block title %}
	Logs
{% endblock %}

{% block extra_link %}
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'recognition/css/logs.css' %}">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% endblock %}


{% block sidebar %}	
	<div class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-sidebar" id="sidebar-list">
			<li><a href="{% url 'dashboard' %}"> Dashboard</a></li>
			<li><a href="{% url 'report' %}"> Reports</a></li>
			<li><a href="{% url 'add_catalog' %}"> Manage Catalogs</a></li>

			{% ifequal notification.notification_type 'train' %}
				<li class="active"><a href="{% url 'person_list' %}"> Manage Faces</a></li>
			{% else %}
				<li><a href="{% url 'person_list' %}"> Manage Faces</a></li>
			{% endifequal %}

			{% ifequal notification.notification_type 'source' %}
				<li class="active"><a href="{% url 'manage_camera' %}"> Manage Cameras</a></li>
			{% else %}
				<li><a href="{% url 'manage_camera' %}"> Manage Cameras</a></li>
			{% endifequal %}

			{% ifequal notification.notification_type 'analysis' %}
				<li class="active"><a href="{% url 'manage_video' %}"> Manage Videos</a></li>
			{% else %}
				<li><a href="{% url 'manage_video' %}"> Manage Videos</a></li>
			{% endifequal %}
			<li><a href="{% url 'analysis_index' %}"> Analysis</a></li>
		</ul>
	</div>
{% endblock %}


{% block content %}
	<div class="row top">
		<div class="col-md-4 col-md-offset-4 create-person-btn">
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1 table-responsive">
			<table class="display" id="logTable">
				<thead>
					<tr>
						<th>TIMESTAMP</th>
						<th>STATUS</th>
						<th>LOG MESSAGE</th>
					</tr>
				</thead>
				<tbody>
					{% for log in logs %}
						<tr>
							<td>
								{{ log.last_modified }}
							</td>
							<td class="status">
								{% ifequal log.status 'active' %}
									<span class="label label-success">{{ log.status }}</span>
								{% endifequal %}
								{% ifequal log.status 'inactive' %}
									<span class="label label-danger">{{ log.status }}</span>
								{% endifequal %}
								{% ifequal log.status 'complete' %}
									<span class="label label-success">{{ log.status }}</span>
								{% endifequal %}
								{% ifequal log.status 'pending' %}
									<span class="label label-danger">{{ log.status }}</span>
								{% endifequal %}
								{% ifequal log.status 'processing' %}
									<span class="label label-warning">{{ log.status }}</span>
								{% endifequal %}
							</td>
							<td>
								{{ log.message }}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<script type="text/javascript">
		    $('#logTable').DataTable({
		    	'ordering': false
		    });
	</script>
{% endblock %}