{% extends 'cloudview/base.html' %}

{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% load static %}

{% block title %}
	Livestream Management
{% endblock %}

{% block extra_link %}
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'recognition/css/person_list.css' %}">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% endblock %}


{% block sidebar %}	
	<div class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-sidebar" id="sidebar-list">
			<li><a href="{% url 'dashboard' %}"> Dashboard</a></li>
			<li><a href="{% url 'report' %}"> Reports</a></li>
			<li><a href="{% url 'add_catalog' %}"> Manage Catalogs</a></li>
			<li><a href="{% url 'person_list' %}"> Manage Faces</a></li>
			<li class="active"><a href="{% url 'manage_camera' %}"> Manage Cameras</a></li>
			<li><a href="{% url 'manage_video' %}"> Manage Videos</a></li>
			<li><a href="{% url 'analysis_index' %}"> Analysis</a></li>
		</ul>
	</div>
{% endblock %}


{% block content %}
	<div class="row">
		<div class="col-md-4 col-md-offset-4 create-person-btn">
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1 table-responsive">
			<table class="display" id="personTable">
				<thead>
					<tr>
						<th>NAME</th>
						<th>CAMERA URL</th>
						<th>STATUS</th>
						<th>ACTIONS</th>
					</tr>
				</thead>
				<tbody>
					{% for camera in sources %}
						<tr>
							<td>
								{% if camera.source_name is not None %}
									{{ camera.source_name }}
								{% endif %}
							</td>
							<td>
								{{ camera.camera_url }}
							</td>
							<td class="status">
								<a href="{% url 'toggle_camera_status' camera.uuid %}">
									{% ifequal camera.source_status 'active' %}
										<span class="label label-success">{{ camera.source_status }}</span>
									{% endifequal %}
									{% ifequal camera.source_status 'inactive' %}
										<span class="label label-danger">{{ camera.source_status }}</span>
									{% endifequal %}
								</a>
							</td>
							<td class="actions">
								<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
								<a href="{% url 'view_logs' 'source' camera.uuid %}"><span class="glyphicon glyphicon-eye-open"></span></a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<script type="text/javascript">
		    $('#personTable').DataTable( {
		    	dom: '<"row"<"col-md-4"l><"col-md-4"<"#add-person-button"B>><"col-md-4"f>>rtip',
		    	buttons: [
		    		{
		    			text: 'Add New Camera',
		    			action: '{% url "analysis_form" "live" %}'
		    		}
		    	]
		    });

		    $('#add-person-button').on('click', function(){
		    	window.location = '{% url "analysis_form" "live" %}'
		    })
	</script>
{% endblock %}