{% extends 'bootstrap3/bootstrap3.html' %}

{% load static %}
{% block bootstrap3_title %}
	{% block title %}
	{% endblock %}
{% endblock %}

{% block bootstrap3_extra_head %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/eonasdan-bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
	<link rel="shortcut icon" href="{% static 'user_authentication/images/favicon.ico' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'user_authentication/css/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'user_authentication/css/header.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'user_authentication/css/footer.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'user_authentication/css/sidebar.css' %}">
	{% block extra_link %}
	{% endblock %}
{% endblock %}

{% block bootstrap3_content %}
	{% block header %}
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>                        
					</button>
					<a class="navbar-brand" href="{% url 'dashboard' %}">
						<img src="{% static 'user_authentication/images/cloudview.png' %}" id="cloudview-logo">
					</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav navbar-right">
						{% if not user.is_authenticated %}	
							<li><a href="{% url 'user_registration' %}"><span class="glyphicon glyphicon-user"></span> Register</a></li>
							<li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
						{% else %}
							<li><a href="#"> Change Password</a></li>
							<li><a href="{% url 'logout' %}?next=/login"> Logout</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
		<!-- <div class="container-fluid" id="myHeader">
			<div class="left-header">
				Cloudview
			</div>
			<div class="right-header">
				<span>Login</span>
				<span>Register</span>
			</div>
		</div> -->
	{% endblock %}

	{% block main_content %}
		<div class="row content">
			<div class="container-fluid">
				{% block sidebar %}	
					<div class="col-sm-3 col-md-2 sidebar">
						<ul class="nav nav-sidebar" id="sidebar-list">
							<li class="active"><a href="{% url 'dashboard' %}"> Dashboard</a></li>
							<li><a href="{% url 'report' %}"> Reports</a></li>
							<li><a href="{% url 'add_catalog' %}"> Manage Catalogs</a></li>
							<li><a href="{% url 'person_list' %}"> Manage Faces</a></li>
							<li><a href="{% url 'manage_camera' %}"> Manage Cameras</a></li>
							<li><a href="{% url 'manage_video' %}"> Manage Videos</a></li>
							<li><a href="{% url 'analysis_index' %}"> Analysis</a></li>
						</ul>
					</div>
				{% endblock %}
				
				{% block content_with_side %}
					<div class="col-sm-9 col-md-10 com-sm-offset-3 col-md-offset-2">
						{% block content %}
						{% endblock %}
					</div>
				{% endblock %}
			</div>
		</div>
	{% endblock %}

	{% block footer %}
		<div class="footer">
			All Rights Reserved.
		</div>
	{% endblock %}
{% endblock %}