#catalog-form {
	margin-top: 20vh;
}

.table {
	margin-top: 50px;
}

.table > tbody > tr > td {
	padding-left: 30px;
}

.table > thead > tr > th {
	padding-left: 30px;
}

.glyphicon-pencil {
	color: #39942a;
}

.glyphicon-trash {
	color: #b92424;
}

.actions {
	text-align: right;
}

.actions > a > span {
	padding-right: 30px;
}
